<h1>
  Who do you like to work in a group with?
</h1>
<hr>
<div class="container">
  <%= search_form_for @q do |f| %>
    <div class="row">
      <div class="col-sm-left">
        <%= f.label :full_name_cont, "Filter by classmate:" %>
        <%= f.text_field :full_name_cont, :placeholder => "Enter a few characters" %>
        <div class="input-group-prepend">
          <%= f.submit :class => "btn btn-outline-primary btn-block" %>
          <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a href="/users" class="btn btn-outline-primary btn-block">Clear filters</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<p></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Classmate</th>
      <th scope="col">What are they interested in?</th>
      <th scope="col">Pumped to be in their group?</th>
    </tr>
  </thead>
  <tbody>
    <% @list_of_users.each do |a_user| %>
      <% if a_user.id == @current_user.id %>
      <% else %>
        <tr>
          <th scope="row"><%= a_user.first_name + " " + a_user.last_name%></th>
          <% users_friends = @current_user.friends.where({ :recipient_id => a_user.id }).at(0) %>
          <td>
            <% if users_friends == nil
              else
                a_user.courses.pluck(:name).sort.each do |a|
            %>
            <ul>
              <li><%= a %></li>
            </ul>
          <%end%>
        <%end%>
      </td>
      <td>
        <% if a_user.id == @current_user.id %>
        <% else %>
          <% if users_friends == nil %>
            <form action="/insert_friend" method = "post">
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
              <button class="btn btn-secondary" type="submit"><i class="far fa-meh"></i> Meh</button>
            </form>
          <% else %>
            <a href="/delete_friend/<%= Friend.where({ :sender_id => @current_user.id, :recipient_id => a_user.id }).at(0).id %>">
              <button class="btn btn-primary" type="submit"><i class="far fa-grin-stars"></i> Heck yes!</button>
            </a>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
<%end%>
</table>
<hr>
<div class="card" style="width: 21rem;">
  <div class="card-body">
    <h5 class="card-title">Don't see a friend here?</h5>
    <p class="card-text">Tell them to join!</p>
    <form action = "/invite_user" method = "post">
      <div>
        <label for="name_box">
          Their phone number
        </label>
        <input type="tel" id="name_box" name="to" pattern="[0-9]{10}" required placeholder="9876543210">
        <div><i>U.S. numbers only</i></div>
        <button class="btn btn-primary">Invite them</button>
      </div>
    </form>
  </div>
</div>
