<h1> Matching Courses </h1>

<p></p>



<p></p>

<table border=1>
    <tr>
      <th>
        Course
      </th>
      <th>
        Number of <%= "#{@current_user.full_name}" %>'s friends who like this course
      </th>
      <th>
        Friends who liked this course
      </th>
    </tr>
  <% @matching_hash.each do |k, v| %>
    <tr>
      <td>
        <%= p Course.where({ :id => k }).at(0).name %>
      </td>
      <td>
        <%= p v.length %>
      </td>
      <td>
        
      </td>
    </tr>
  <%end%>
</table>


<%=
@matching_hash.each do |k, v|
  p k
  v.each do |(a, b)|
    puts a.class
  end
end
%>


<p></p>

<%=
@matching_hash.each do |k, v|
  v.each do |a|
  p User.where({ :id => a }).at(0).full_name
  end
end
%>
