<h1> Matching Courses </h1>

<div>
matching_course_ids: <%= @matching_course_ids.flatten.group_by{|e| e}.map{|k, v| [k, v.length]}.to_h %>
<p></p>
recipient_ids: <%= @recipient_ids %>
<p></p>
friends_courses: <%= @friends_courses %>
<p></p>
friends_courses_ids: <%= @friends_courses_ids %>
<p></p>

<%= @friends_courses.each do |a_course|
  a_course
  end
%>

<p></p>


    <% # @recipient_ids.each do |an_id| %>
    <% # User.where({ :id => an_id }).at(0).courses %>
    <% # end %>


  <table border = "1">
    <tr>
      <td>
        <b>Course</b>
      </td>
      <td>
        <b>Number of friends who are interested in taking this course</b>
      </td>
    </tr>

<!-- I need to count the frequency of each course appearing here -->
<% # friends_liked_courses.each do |a_course| %>
      <% # a_course.each do |the_course| %>

<%# friends_liked_courses.where({ :course_id => the_course.id }).count %>
  <tr>
    <td>
      <% # the_course.name %>
    </td>
      <% # end %>
<% # end %>

<td></td>
</table>

</div>