<h1> Matching Courses </h1>

<p></p>

matching_hash: <%= @matching_hash %>

<p></p>

list_of_friends: <%= @list_of_friends %>

<p></p>

matching_course_ids: <%= @matching_course_ids %>

<p></p>

current user course IDs: <%= @current_user_course_ids %>

<p></p>

overlapping_course_ids: <%= @overlapping_course_ids %>

<p></p>


<p></p>

<table border=1>
    <tr>
      <th>
        Course
      </th>
      <th>
        Number of <%= "#{@current_user.full_name}" %>'s friends who like this course
      </th>
      <th>
        Friends who liked this course
      </th>
    </tr>
  <% @matching_hash.each do |k, v| %>
    <tr>
      <td>
        <%= if @overlapping_course_ids.include? k
        p Course.where({ :id => k }).at(0).name "+" v.length
        end
        %>
      </td>
      <td>
        <%= 
         p v.length %>
        <%end%>
      </td>
     

      <td>
        
      </td>
    </tr>
</table>



<p></p>

