<div>
  <div>
    <h1>
      List of all practices
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new practice
    </h2>

    <form action="/insert_practice" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="body_mind_box">
          Body mind
        </label>

        <input type="text" id="body_mind_box" name="query_body_mind">
      </div>

      <div>
        <label for="spoken_silent_box">
          Spoken silent
        </label>

        <input type="text" id="spoken_silent_box" name="query_spoken_silent">
      </div>

      <div>
        <label for="extemp_ritual_box">
          Extemp ritual
        </label>

        <input type="text" id="extemp_ritual_box" name="query_extemp_ritual">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create practice
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Body mind
        </th>

        <th>
          Spoken silent
        </th>

        <th>
          Extemp ritual
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_practices.each do |a_practice| %>
      <tr>
        <td>
          <%= a_practice.id %>
        </td>

        <td>
          <%= a_practice.name %>
        </td>

        <td>
          <%= a_practice.body_mind %>
        </td>

        <td>
          <%= a_practice.spoken_silent %>
        </td>

        <td>
          <%= a_practice.extemp_ritual %>
        </td>

        <td>
          <%= a_practice.description %>
        </td>

        <td>
          <%= time_ago_in_words(a_practice.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_practice.updated_at) %> ago
        </td>

        <td>
          <a href="/practices/<%= a_practice.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
