<div>
  <div>
    <h1>
      List of all courses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new course
    </h2>

    <form action="/insert_course" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="section_box">
          Section
        </label>

        <input type="text" id="section_box" name="query_section">
      </div>

      <div>
        <label for="group_work_box">
          Group work
        </label>
        <select id="group_work_box" name="query_group_work">
          <option>
            None
          </option>
          <option>
            Light
          </option>
          <option>
            Medium
          </option>
          <option>
            Heavy
          </option>
        </select>
      </div>

      <div>
        <label for="group_size_min_box">
          Group size min
        </label>

        <input type="text" id="group_size_min_box" name="query_group_size_min">
      </div>

      <div>
        <label for="group_size_max_box">
          Group size max
        </label>

        <input type="text" id="group_size_max_box" name="query_group_size_max">
      </div>

      <div>
        <label for="concentration_box">
          Concentration
        </label>

        <select id="concentration_box" name="query_concentration">
          <option>
            Business Analytics
          </option>
          <option>
            Operations
          </option>
          <option>
            Finance
          </option>
          <option>
            Entrepreneurship
          </option>
        </select>

      </div>

      <button>
        Create course
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Section
        </th>

        <th>
          Group work
        </th>

        <th>
          Group size min
        </th>

        <th>
          Group size max
        </th>

        <th>
          Concentration
        </th>

        <th>
          Like
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_courses.each do |a_course| %>
      <tr>

        <td>
          <%= a_course.name %>
        </td>

        <td>
          <%= a_course.section %>
        </td>

        <td>
          <%= a_course.group_work %>
        </td>

        <td>
          <%= a_course.group_size_min %>
        </td>

        <td>
          <%= a_course.group_size_max %>
        </td>

        <td>
          <%= a_course.concentration %>
        </td>

        <td>

          <% if @current_user.present? %>

            <% the_like = @current_user.likes.where({ :course_id => a_course.id }).at(0) %>

            <% if the_like == nil %>
            <form action="/insert_like" method = "post">

              <input type="hidden" name="query_course_id" value="<%= a_course.id %>">
              <button>Like this course!</button>

            </form>

            <% else %>
              <a href="/delete_like/<%= the_like.id %>">
                Remove like
              </a>
            <% end %>
          <% end %>

        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
