<%= form_with(model: machine, local: true) do |form| %>
  <% if machine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine.errors.count, "error") %> prohibited this machine from being saved:</h2>

      <ul>
        <% machine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :arcade_id %>
    <%= form.text_field :arcade_id %>
  </div>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :number_of_machines %>
    <%= form.text_field :number_of_machines %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
